@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  font-family: "Libre Baskerville", serif, system-ui;
  font-weight: bold;
  color: black;
  background-color: white;
  text-rendering: optimizeLegibility;
}

/* CSS Resets from 
https://www.joshwcomeau.com/css/custom-css-reset/
 */

*,
*::before,
*::after {
  /* CSS Resets */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
