.container {
  width: 375px;
}

.header--top {
  height: 79px;
  display: flex;
  align-items: center;
  --offset: 24px;
}

.logo-header {
  width: 113px;
  height: 32px;
  margin-left: var(--offset);
}

.start-slideshow {
  font-size: 9px;
  margin-left: auto;
  margin-right: var(--offset);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 11px;
  color: #7d7d7d;
}

.header--hr {
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
  border-top: 2px solid #979797;
  opacity: 0.1;
}

main {
  padding: 24px;
  display: grid;
  gap: 24px;
}

.thumb-picture {
  position: relative;
  color: white;
}

.thumb-img {
  filter: brightness(0.8);
  width: 327px;
}

.thumb-title {
  position: absolute;
  width: auto;
  left: 32px;
  width: 246px;
  bottom: 56px;
  font-size: 24px;
}

.thumb-subtitle {
  position: absolute;
  width: auto;
  left: 32px;
  bottom: 33px;
  font-size: 13px;
  font-weight: normal;
  opacity: 0.75;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    height: 2989px;
  }
  .header--top {
    height: 88px;
    --offset: 40px;
  }

  main {
    display: block;
    padding: 40px;
    position: relative;
    height: auto;
  }

  .thumb-img {
    width: 324px;
  }

  .masonry-item {
    position: absolute;
  }

  #starry-night {
    left: 40px;
    top: 42px;
  }

  #girl-with-pearl-earring {
    left: 404px;
    top: 42px;
  }

  #guernica {
    left: 40px;
    top: 332px;
  }

  #penitent-magdalene {
    left: 404px;
    top: 482px;
  }

  #the-storm-on-the-sea-of-galilee {
    left: 40px;
    top: 657px;
  }

  #the-great-wave-off-kanagawa {
    left: 404px;
    top: 772px;
  }

  #van-gogh-self-portrait {
    left: 40px;
    top: 1037px;
  }

  #the-sleeping-gypsy {
    left: 404px;
    top: 1092px;
  }

  #the-night-cafe {
    left: 404px;
    top: 1382px;
  }

  #lady-with-an-ermine {
    left: 40px;
    top: 1577px;
  }

  #the-basket-of-apples {
    left: 404px;
    top: 1682px;
  }

  #the-boy-in-the-red-vest {
    left: 40px;
    top: 2037px;
  }
  #arnolfini-portrait {
    left: 404px;
    top: 2152px;
  }

  #mona-lisa {
    left: 40px;
    top: 2337px;
  }
  #the-swing {
    left: 404px;
    top: 2522px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 1606px;
  }
  .header--top {
    height: 128px;
    --offset: 40px;
  }

  .header--hr {
    left: 40px;
    width: 1360px;
  }

  .thumb-img {
    width: 310px;
  }

  #starry-night {
    left: 40px;
    top: 42px;
  }

  #girl-with-pearl-earring {
    left: 404px;
    top: 42px;
  }

  #guernica {
    left: 760px;
    top: 42px;
  }

  #penitent-magdalene {
    left: 1110px;
    top: 42px;
  }

  #the-storm-on-the-sea-of-galilee {
    left: 40px;
    top: 332px;
  }

  #the-great-wave-off-kanagawa {
    left: 404px;
    top: 482px;
  }

  #van-gogh-self-portrait {
    left: 760px;
    top: 375px;
  }

  #the-sleeping-gypsy {
    left: 1110px;
    top: 332px;
  }

  #the-night-cafe {
    left: 404px;
    top: 802px;
  }

  #lady-with-an-ermine {
    left: 40px;
    top: 712px;
  }

  #the-basket-of-apples {
    left: 1110px;
    top: 622px;
  }

  #the-boy-in-the-red-vest {
    left: 40px;
    top: 1172px;
  }
  #arnolfini-portrait {
    left: 404px;
    top: 1106px;
  }

  #mona-lisa {
    left: 760px;
    top: 919px;
  }
  #the-swing {
    left: 1110px;
    top: 1094px;
  }
}
